<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Play Ground</h1>
        <ul>
            <%for(let i = 1; i<6; i++){%>

                <li>
                    <%%>
                </li>

            <%}%>
        </ul>
    </body>
</html>